<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/layout :: head"></head>

<body>
	<header th:replace="/fragments/layout :: header"></header>

	<div class="container">
		<div class="card text-center mt-3">
			<h2 class="card-header"
				th:text=" '- 프로필 조회   ' + @{${session.user.name}} + ' -' "></h2>
			<div class="card-body">
				<!--   이미지 박스 -->
				<div style="width: 128px; height: 128px;">
					<img th:src="@{ '/user/profile/' + ${session.user.img} }" alt=""
						style="width: 128px; height: 128px;" />
				</div>
				<div>
					<h4 class="card-title" th:text="${session.user.name}"></h4>
					<p class="card-text">
						<span class="badge badge-primary"
							th:text="@{${session.user.name} + '(' + ${session.user.userid} + ')'}"></span>
						<span class="badge badge-secondary"
							th:text="@{ 'LV.[' + ${session.user.level} +']'}"></span>
						<span class="badge badge-primary"
						th:text="@{${session.user.cnt}}"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="/fragments/layout :: footer"></footer>
</body>
</html>
