<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.kanozo.mappers.UserMapper">
	<insert id="insertUser">
		INSERT INTO spring_users (userid, name, password, u_exp, u_level, img) VALUES ( #{userid}, #{name}, #{password}, 0, 1, #{img})
	</insert>
	
	<select id="selectUser" resultType="UserVO">
		SELECT * FROM spring_users WHERE userid = #{userid}
	</select>
	
	<select id="loginUser" resultType="UserVO">
		SELECT * FROM spring_users
		WHERE userid = #{userid} AND password = #{password}
	</select>
	
	<insert id="levelData">
		INSERT INTO spring_level(s_level, s_exp) VALUES ( #{s_level}, #{s_exp} )
	</insert>
	
	<delete id="clearData">
		DELETE FROM spring_level
	</delete>
	
	<select id="requireExp" resultType="Integer">
		SELECT s_exp FROM spring_level WHERE s_level = #{u_level}
	</select>
	
	<update id="setLevelAndExp">
		UPDATE spring_users SET u_level = #{u_level}, u_exp = #{u_exp} WHERE userid = #{userid}
	</update>
	
	<select id="selectWriteCnt" resultType="UserVO">
		SELECT COUNT(*) FROM spring_users a, spring_boards b WHERE a.userid = b.writer AND userid = #{userid}
	</select>
</mapper>